  
body{
    margin: 0;
    padding: 0;
   overflow-x: hidden; 
   height: fit-content;
   position: relative;
   min-height: 100%;
   
   }

.logo {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    
}
.navbar {
  height: 75px;
}


#nav ul li a {
    color: #fff;
}
.carousel-caption{
  top: 30%;
}

@media (max-width:600px) {
  .image {
     height: 300px;
  }
  .disp{
    font-size: 10px;
  }
}

.main-text {
  position: absolute;
  top: 680px;
  width: 96.66666666666666%;
  color: #FFF;
  font-family: Sofia;
  
}

.main-text h1{
  font-size: 25px;
}
.about {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    background-image: url("../assets/pexels.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
    border-radius: 10px;

  }

  @media only screen and (max-width: 600px) {
    .about {
      height: 90vh;
    }
  }
  .meals {
    width:  80%;
    margin: auto;
  }
#about h1 {
  font-weight: bolder;
}
  
  h1 {
    font-size: 36px;
    font-weight: 600;
  }
  p {
    line-height: 22px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding: 5px;
  }
  .about h3{
    color: #fff;
  }
  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
  }
 
  .about-col {
    flex-basis: 25%;
    background: #918788;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 7px;
    transition: 0.5s;
    height: 200px;
    text-decoration-color:#fff;
    background-size: cover;

  }
  
  .about-col h3 {

    text-align: center;
    margin: 10px 0;
  }
  .about-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
  #breakfast {
    background-image: url("../assets/breakfast.jpg");
    background-size: cover;
  }
  #lunch {
    background-image: url("../assets/lunch.jpg");
    background-size: cover;
    
  }
  #dinner {
    background-image: url("../assets/dinner.jpg");
    background-size: cover;
    
  }
 
  
  .facilities {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 80px;
    background-color:whitesmoke;
    background-size: cover;
    
  }

  @media screen and (max-width: 600px) {
    div.about {
      height: 100vh;
    }
  }
  .faci {
    width: 80%;
    margin: auto;
  }
  #facilities h1 {
    font-weight: bolder;
  }
    
  .facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5%;
  }
  .facilities-col img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: block;
    object-fit: cover;
  }
  .facilities-col p {
    padding: 0;
  }
  .facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
  }

  .booking {
    width: 100%;
    text-align: center;
    overflow: auto;
    margin: auto;
    padding-bottom: 480px;
    padding-top: 460px;
    background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ),url(../assets/booking.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    

  }

  .loginbox {
    width: 320px;
    height: 800px;
    background: #000;
    color: #fff;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 70px 30px;
    box-shadow: 11px 14px 17px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 14px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 14px 17px -1px rgba(0,0,0,0.75);
    
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
  
}
.loginbox input[type="text"], input[type="password"],select[class="form-control"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="date"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: white;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  
}
.loginbox input[type="submit"]
{
  border:none;
  outline: none;
  height: 40px;
  background: #FEB1C0;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: aqua;
  color: #000;
}
.formbox{
  display: block;
  width: 100%;
}

.book_info {
width: 600px;
height: 540px;
color: #fff;
left: 210%;
position: absolute;
transform: translate(-50%, -100%);
box-sizing: border-box;
padding: 70px 30px;

}
@media screen and (max-width: 600px) {
  div.book_info {
    display: none;
  }
  div.booking {
    align-items: center;
  }
  div.loginbox {
    margin-left: 20px;
  }
}

.location {
  height: 54.5vh;
  width: 100%;
  margin: auto;
  padding-top: 30px;
 


}
.location h1{
 
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  }
    
.map-responsive{

  overflow:hidden;
  position:relative;
  height:350px;

}

.map-responsive iframe{

  left:0;
  top:0;
  width:100%;
  position:absolute;

}

/*footer*/
.footer {
  width: 100%;
  text-align: center;
  background: #e5542b;
  margin-bottom: 0;
  padding-bottom: 6px;
  
 
  }
.footer h4 {
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 5px;
}
.footer p {
  text-align: justify;
  color: rgb(27, 27, 27);
  margin-left: 20px;
}
.copyright {
  height: 2.7rem;
  margin-bottom: 0;
  
}
.copyright p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Courier New", Courier, monospace;

  font-style: oblique;
  
}


.aboutcolumn {
  flex-basis: 30%;
}
.aboutcolumn p {
  color: white;
}
.icons .fab {
  color: #fff;
  display: inline-block;
  cursor: pointer;
  padding: 25px;
  margin-top: 50px;
  margin-right: 2px;
}
.icons :hover{
  color: #000;
}

/*page loader*/
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
}

.wrapper{
  width: 100px;
  height: 100px;
  background: white;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px;
}

.box{
  width: 50%;
  height: 50%;
  flex: 50%;
  transition: 0.5s;
  border: 2px solid white;
}

.box:nth-child(1){
  animation: load 1s infinite;
}

.box:nth-child(2){
  animation: load2 1s infinite;
  animation-delay: 0.2s;
}

.box:nth-child(3){
  animation: load3 1s infinite;
  animation-delay: 0.7s;
}

.box:nth-child(4){
  animation: load4 1s infinite;
  animation-delay: 0.5s;
}

@keyframes load {
  0% { background: rgba(231, 76, 60, 0); }
  30% { background: rgb(231, 76, 60); }

  100% { background: rgba(231, 76, 60, 0); }
}

@keyframes load2 {
  0% { background: rgba(46, 204, 113, 0); }
  30% { background: rgb(46, 204, 113); }

  100% { background: rgba(46, 204, 113, 0); }
}

@keyframes load3 {
  0% { background: rgba(230, 126, 34, 0); }
  30% { background: rgb(230, 126, 34); }

  100% { background: rgba(230, 126, 34, 0); }
}

@keyframes load4 {
  0% { background: rgba(241, 196, 15, 0); }
  30% { background: rgb(241, 196, 15); }

  100% { background: rgba(241, 196, 15, 0); }
}